*.gem
*.rbc
.bundle
.config
.rspec
.ruby-version
.ruby-gemset
Gemfile.lock
log/*.log
pkg/
tmp/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
.DS_Store
Thumbs.db
coverage
pkg

