language: ruby

env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

sudo: false

rvm:
  - 2.3.7
  - 2.4.3
  - 2.5.3
  - 2.6.0

bundler_args: --jobs=3 --retry=3

cache: bundler

script:
  - bundle exec rake
  - bundle exec codeclimate-test-reporter
